{% extends "base.html" %}

{% block extrahead %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Making Discord Bots">
  <meta property="og:title" content="Title">
  <meta property="og:author" content="R0bl0x10501050">
  <meta property="og:description" content="This is an example">
  <meta name="twitter:title" content="Making Discord Bots">
  <meta name="twitter:description" content="A great learning resource to make your own Discord bot!">
  <meta name="twitter:creator" content="@R0bl0x10501050">
  <meta name="twitter:card" content="summary_large_image">
{% endblock %}
